<div *ngIf="_adminservice.isAuthenticatedUser()">
    <div class="title">
        <h1>AI Tourist Guide</h1>
    </div>
<div class="outer">
    <nav class="navbar navbar-dark bg-primary head-custom1">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary head-custom">

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="/allplaces">Places</a>
                    <a class="nav-item nav-link" routerLink="/allfeedbacks">FeedBacks</a>
                    <a class="nav-item nav-link" routerLink="/allusers">Users</a>
                    <button  (click)="logout()">Logout</button>

                </div>
            </div>
        </nav>
    </nav>
</div>
</div>