<div *ngIf="_userservice.isAuthenticatedUser()">
    <div class="title">
        <h1>AI Tourist Guide</h1>
    </div>
<div class="outer">
    <nav class="navbar navbar-dark bg-primary head-custom1">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary head-custom">

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="/userprofile">Profile</a>
                    <a class="nav-item nav-link" routerLink="/allplacesuser">Places</a>
                    <a class="nav-item nav-link" routerLink="/plantrip">PlanTrip</a>
                    <a class="nav-item nav-link" routerLink="/usertrips">My Trips</a>
                    <a class="nav-item nav-link" routerLink="/myfeedbacks">My FeedBacks</a>
                    <button  (click)="logout()">Logout</button>

                </div>
            </div>
        </nav>
    </nav>

</div>
</div>