.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.table {
    width: 500px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid double;
}

.table td {
    padding: 10px;
    text-align: center;
}


.table thead {
    color: white;
}

.table-bordered {

    box-shadow: 10px 10px 20px black;
    backdrop-filter: blur(10px);
}