<app-usernavbar></app-usernavbar>
<div class="container">
  <center>  <table class="table table-bordered table-hover">

        <tbody>

            <tr>
                <td>UserName</td>

                <td>{{ user.fullName }}</td>



            </tr>
            <tr>
                <td>Address</td>
                <td>{{ user.address }}</td>


            </tr>
            <tr>
                <td>MobileNumber</td>
                <td>{{user.mobileNumber}}</td>


            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>

            </tr>
        </tbody>
    </table></center>
</div>