.img-thumbnail {
  width: 320px;
  padding: 7.5px;
  text-align: left;
  font-family: monospace;
  border: 2px solid #04d1fa;

}

.row {
  position: absolute;
  left: 10px;
  padding: 10px;
}

.img-thumbnail {
  transition: all 0.6s ease;
  margin-top: 15px;

}

.img-thumbnail:hover {
  transform: translateY(-13px);
}