<app-usernavbar></app-usernavbar>

<div class="card p-5 mt-2">
    <h4>Plan Trip</h4>
    <form #tripForm="ngForm">
        <div class="form-group">
            <label for="startDate">StartDate:</label>
            <input type="text" class="form-control" placeholder="Enter startDate (yyyy-mm-dd)" name="startDate"
                [(ngModel)]="plan.startDate" required pattern="\d{4}-\d{2}-\d{2}">
            <div *ngIf="tripForm.controls['startDate']?.invalid && (tripForm.controls['startDate']?.dirty || tripForm.controls['startDate']?.touched)"
                class="text-warning">
                Please enter a valid start date in the format yyyy-mm-dd.
            </div>
        </div>
        <div class="form-group">
            <label for="endDate">EndDate:</label>
            <input type="text" class="form-control" placeholder="Enter endDate (yyyy-mm-dd)" name="endDate"
                [(ngModel)]="plan.endDate" required pattern="\d{4}-\d{2}-\d{2}">
            <div *ngIf="tripForm.controls['endDate']?.invalid && (tripForm.controls['endDate']?.dirty || tripForm.controls['endDate']?.touched)"
                class="text-warning">
                Please enter a valid end date in the format yyyy-mm-dd.
            </div>
        </div>
        <button type="button" (click)="showPlaces()" class="btn btn-primary" [disabled]="!tripForm.controls['startDate'].valid || !tripForm.controls['endDate'].valid">Choose Places</button>
        <div>
            <div *ngIf="showplaces">
                <span *ngIf="flag">Please select only {{differenceInDays}} places.</span><br/>
                <label>Places:</label>
                <div>
                    <div *ngFor="let element of dataSource">
                        <input type="checkbox" value="element.placeId" (change)="handleCheckboxChange(element.placeId)">
                        {{element.placeName}}
                    </div>
                    <br/>
                    <button type="button" (click)="AddTrip()" class="btn btn-info">Book Trip</button>
                    <button type="button" routerLink="/allplacesuser" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
