<div>
  <app-header></app-header>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="assets/place1.jpg" alt="Description of the image" class="img1">

      </div>
      <div class="col-6">
        <h6>About</h6>
        <p>An AI Tourist Guide is an innovative application that utilizes artificial intelligence (AI) technologies to
          assist and enhance the experience of tourists during their travels. This concept combines various technologies
          to provide personalized recommendations, navigation assistance, and interactive information to users exploring
          new destinations. </p>

        Several startups and travel tech companies are exploring AI Tourist Guide applications. These may include mobile
        apps that offer personalized recommendations, smart glasses with AR features, and interactive kiosks in tourist
        destinations.

        As technology continues to advance, the AI Tourist Guide concept holds significant potential to revolutionize
        the way people plan and experience travel. It offers a blend of convenience, personalization, and innovation,
        making it an exciting area of exploration in the tourism industry.
      </div>
      <div class="col">
        <img src="assets/place2.jpg" alt="Description of the image" class="img2">
      </div>
    </div>
  </div>